@model HrrMrr.Entities.Users
@{
    ViewData["Title"] = "Login";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">

        <div class="container">
            <main role="main" class="pb-3">
                <h1>Giriş Yapınız</h1>
                <div class="row">
                    <div class="col-md-4">
                        <section>
                            <form id="account" method="post">
                                <h4>Kurumsal hesabınıza giriş yapınız.</h4>
                                <hr />

                                <div class="form-group">
                                    <label for="Input_Email">Email</label>
                                    <input class="form-control" autocomplete="mail" type="email" data-val="true" data-val-email="Mail alanı boş bırakılamaz." data-val-required="Mail alanı boş bırakılamaz." id="Mail" name="Mail" value="" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Input_Password">Parola</label>
                                    <input class="form-control" autocomplete="current-password" type="password" data-val="true" data-val-required="Parola alanı boş bırakılamaz." id="Password" name="Password" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label for="Input_RememberMe">
                                            <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true" />
                                            Remember me?
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="login-submit" action="@Url.Action("Login","User")" type="submit" class="btn btn-primary">Giriş Yap</button>
                                </div>
                                <div class="form-group">
                                    <p>
                                        <a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a href="/Identity/Account/Register?returnUrl=%2F">Register as a new user</a>
                                    </p>
                                    <p>
                                        <a id="resend-confirmation" href="/Identity/Account/ResendEmailConfirmation">Resend email confirmation</a>
                                    </p>
                                </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Dm3hzEXiflKhQBe4-syIvthI-c5lmPlb1hMA-kC8SWaFRqPiAdiJXnlp9yvrJN-g1l0JKl_LhOR5pMD1JbLla3Wbs6qfr2Yu3R327cbpE-CfV-pBASBsIm2SQ576tWO69WR7V5gxpX1oKpZCo0oUdY" /><input name="Input.RememberMe" type="hidden" value="false" />
                            </form>
                        </section>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <section>
                            <h4>Giriş yaparak barınağınızla ilgili işlemleri gerçekleştirebilirsiniz.</h4>
                            <hr />
                            <div>
                                <p>
                                    Bilgilerinize erişim için lütfen giriş yapınız.
                                   
                                </p>
                            </div>
                        </section>
                    </div>
                </div>


            </main>
        </div>

        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>


        <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</div>