@model HrrMrr.Entities.Users
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Kaydol</h1>
            <div class="row">
                <div class="col-md-4">
                    <form id="registerForm" method="post" action="@Url.Action("RegisterCompany","User")">
                        <h4>Yeni hesap oluştur.</h4>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label>Ad</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Soyad</label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Telefon Numarası</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input asp-for="Website" type="url" class="form-control" />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
            <label asp-for="ImageId" class="control-label"></label>
            <select asp-for="ImageId" class="form-control" asp-items="ViewBag.ImageId"></select>
        </div>*@
                        @*<div class="form-group">
            <label asp-for="GenderId" class="control-label"></label>
            <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
        </div>*@
                        @*<div class="form-group">
            <label asp-for="RoleId" class="control-label"></label>
            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
        </div>*@
                        <div class="form-group">
                            <label>Adres</label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Mail</label>
                            <input class="form-control" autocomplete="Mail" type="email" data-val="true" data-val-email="Geçerli mail adresi giriniz." data-val-required="Mail alanı boş geçilemez." id="Mail" name="Mail" value="" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label>Parola</label>
                            <input class="form-control" autocomplete="new-password" type="password" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" maxlength="100" name="Password" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label>Parola Doğrulama</label>
                            <input class="form-control" autocomplete="new-password" type="password" data-val="true" data-val-equalto="Parolalar eşleşmiyor." data-val-equalto-other="*.Password" id="Input_ConfirmPassword" name="Input.ConfirmPassword" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                        </div>
                        <button type="submit" action="@Url.Action("RegisterCompany","User")" class="btn btn-primary">Kaydol</button>
                        <br />
                        @if (ViewBag.hataMesaji != null)
                        {
                            <div class="alert alert-@ViewBag.turu alert-dismissible fade show" role="alert">
                                @ViewBag.hataMesaji
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                        <br /><br /><br />
                    </form>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <section>
                        <h4>Use another service to register.</h4>
                        <hr />
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    </section>
                </div>
            </div>


        </main>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>


    <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</div>

